<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
          <p class="lead">New user</p>
            <div class="list-group">
                <%= link_to 'List of products', products_path, :class => "list-group-item" %>
                <%= link_to 'New product', new_product_path, :class => "list-group-item" %>
                <%= link_to 'My products', user_products_path, :class => "list-group-item" %>
            </div>
        </div>

        <div class="col-md-7">
            <div class="row">
              <div class="authform">
                <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
                  <h3>Sign up !</h3>
                  <%= devise_error_messages! %>
                  <div class="form-group">
                    <%= f.label :user %>
                    <%= f.text_field :user, class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :email %>
                    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :password %><% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
                    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
                  </div>
                   <%= f.submit 'Sign up', :class => 'btn btn-primary' %>
                <% end %>
               </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; ExchangeIt 2014</p>
            </div>
        </div>
    </footer>
</div>
