<%= form_for(@product, :html => { :multipart => true }, :class => "form-horizontal") do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.label :name %>
  <%= f.text_field :name, :class => "form-control" %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description, :class => "form-control", :rows => "3" %>
  <br />
  <%= f.label :category %>
  <select id="product_categoria" name="product[categoria]" class="form-control">
    <option value="Otras categorías">Selecciona una categoría</option>
    <option value="Arte y Antigüedades">Arte y Antigüedades</option>
    <option value="Bebés">Bebés</option>
    <option value="Belleza y Salud">Belleza y Salud</option>
    <option value="Cámaras y Fotografía">Cámaras y Fotografía</option>
    <option value="Casa, Jardín y Bricolaje">Casa, Jardín y Bricolaje</option>
    <option value="Cine, DVD y Películas">Cine, DVD y Películas</option>
    <option value="Coches, Motos y Recambios">Coches, Motos y Recambios</option>
    <option value="Coleccionismo">Coleccionismo</option>
    <option value="Consolas y Videojuegos">Consolas y Videojuegos</option>
    <option value="Deportes">Deportes</option>
    <option value="Electrodomésticos">Electrodomésticos</option>
    <option value="Equipamiento y Maquinaria">Equipamiento y Maquinaria</option>
    <option value="Imagen y sonido">Imagen y sonido</option>
    <option value="Informática y tablets">Informática y tablets</option>
    <option value="Instrumentos Musicales">Instrumentos Musicales</option>
    <option value="Juguetes">Juguetes</option>
    <option value="Libros, Revistas y Comics">Libros, Revistas y Comics</option>
    <option value="Móviles y telefonía">Móviles y telefonía</option>
    <option value="Música, CD y Vinilos">Música, CD y Vinilos</option>
    <option value="Relojes y Joyas">Relojes y Joyas</option>
    <option value="Ropa, Calzado y Complementos">Ropa, Calzado y Complementos</option>
    <option value="Otras categorías">Otras categorías</option>
    </select>
  <br />
  <%= f.label :image %>
  <%= f.file_field :image, :title => "Search for a file to add" %>
  <br />
  <%= f.submit :class => "btn btn-primary" %>
<% end %>
