<%= form_for(@product, :html => { :multipart => true }, :class => "form-horizontal") do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.label :name %>
  <%= f.text_field :name, :class => "form-control" %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description, :class => "form-control", :rows => "3" %>
  <br />
  <%= f.label :category %>
  <select id="product_categoria" name="product[categoria]" class="form-control">
    <option value="Other categories">Select a category</option>
    <option value="Art and Antiques">Art and Antiques</option>
    <option value="Baby">Baby</option>
    <option value="Health and Beauty">Health and Beauty</option>
    <option value="Cameras and Photo">Cameras and Photo</option>
    <option value="Home and Garden">Home and Garden</option>
    <option value="DVDs and Movies">DVDs and Movies</option>
    <option value="Cars, Motorcycles and Parts">Cars, Motorcycles and Parts</option>
    <option value="Collectibles">Collectibles</option>
    <option value="Video Games and Consoles">Video Games and Consoles</option>
    <option value="Sports">Sports</option>
    <option value="Consumer Electronics">Consumer Electronics</option>
    <option value="Business and Industrial">Business and Industrial</option>
    <option value="Image and sound">Image and sound</option>
    <option value="Computers/Tablets and Networking">Computers/Tablets and Networking</option>
    <option value="Musical Instruments and Gear">Musical Instruments and Gear</option>
    <option value="Toys and Hobbies">Toys and Hobbies</option>
    <option value="Books">Books</option>
    <option value="Cell Phones and Accessories">Cell Phones and Accessories</option>
    <option value="Music">Music</option>
    <option value="Jewelry and Watches">Jewelry and Watches</option>
    <option value="Clothing, Shoes and Accessories">Clothing, Shoes and Accessories</option>
    <option value="Other categories">Other categories</option>
    </select>
  <br />
  <%= f.label :image %>
  <%= image_tag @product.image.url(:thumb) if @product.image? %>
  <%= f.file_field :image, :title => "Search for a file to add" %>
  <br />
  <%= f.submit :class => "btn btn-primary" %>
<% end %>
