<%= form_for(@product, :html => { :multipart => true }, :class => "form-horizontal") do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.label :name %>
  <%= f.text_field :name, :class => "form-control" %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description, :class => "form-control", :rows => "3" %>
  <br />
  <%= f.label :category %>
  <%= f.select :categoria, options_for_select([['Selecciona una categoría','Otras categorías'],'Arte y Antigüedades','Bebés','Belleza y Salud','Cámaras y Fotografía','Casa, Jardín y Bricolaje','Cine, DVD y Películas','Coches, Motos y Recambios','Coleccionismo','Consolas y Videojuegos','Deportes','Electrodomésticos','Equipamiento y Maquinaria','Imagen y sonido','Informática y tablets','Instrumentos Musicales','Juguetes','Libros, Revistas y Comics','Móviles y telefonía','Música, CD y Vinilos','Relojes y Joyas','Ropa, Calzado y Complementos','Otras categorías']), :class => "form-control" %>
  <br />
  <%= f.label :image %>
  <%= f.file_field :image, :title => "Search for a file to add" %>
  <br />
  <%= f.submit :class => "btn btn-primary" %>
<% end %>
