    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
              <p class="lead">Show product</p>
                <div class="list-group">
                    <%= link_to 'List of products', products_path, :class => "list-group-item" %>
                    <%= link_to 'New product', new_product_path, :class => "list-group-item" %>
                    <%= link_to 'My products', my_products_path, :class => "list-group-item" %>
                </div>
            </div>
            <div class="col-md-9">
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                	<%= image_tag @product.image.url(:large), :title => @product.name %>
                </a>
            </div>
            <div class="col-md-5">
                <h3><%= @product.name %></h3>
                <h4><%= @product.categoria %></h4>
                <p><%= @product.description %></p>
                <a class="btn btn-primary" href="#">Send email <span class="glyphicon glyphicon-chevron-right"></span></a><br /><br />
                <h4>Comments</h4>
                <% @product.comments.each do |comment| %>
                  <p>
                      <%= comment.user.user %>:<br />
                      <%= comment.content %>
                      <hr>
                  </p>
                <% end %>
                <% if user_signed_in? %>
                    <h4>Add a comment:</h4>
                    <%= form_for([@product, @product.comments.build]) do |f| %>
                        <%= f.hidden_field :user_id, value: current_user.id %>
                        <%= f.hidden_field :product_id, value: @product.id %>
                        <%= f.text_area :content, :class => "form-control", :rows => "3" %><br />
                        <%= f.submit :class => "btn btn-primary" %>
                    <% end %>
                <% end %>
            </div>
        </div>
        <!-- /.row -->
        <% if user_signed_in? %>
            <% if current_user.id == @product.user_id %>
                <%= link_to 'Edit', edit_product_path(@product) %> |
                <%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %> |
            <% end %>
        <% end %>
        <%= link_to 'Back', products_path %>
                </div>
        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; ExchangeIt 2014</p>
                </div>
            </div>
        </footer>

    </div>
